/**
Basic set up
*/
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-size: calc(10px + 2vmin);
}

body {
  color: #222222;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 2rem;
}

/**
Layout
*/

article {
  border: 2px solid red;
  padding: 50px;
  max-width: 1200px;
}

article, section {

  background: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: auto;
}

h1 {
  color: white;
  border-bottom: 3px solid black;
}

li.completed {
  color: #666666;
  text-decoration: line-through;
}

li.completed button {
  text-decoration: none;
}

li {
display: flex;
flex-direction: column;
padding: 10px;
}

li:hover .buttons {
  display: flex;
}

.buttons {
  display: none;
  width: 700px;
}

ul {
  background: white;
  font-size: 30pt;
  flex-direction: column;
  border: 3px solid black;
  list-style: none;
}


/**
Form Related
*/
form.smallButton {
  width: 400px;
  height: 100px;
  margin: 1rem;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

form {
  background: red;
  border:2px solid white;
  width: 600px;
  height: 130px;
  padding: 10px;
}

select {
width: 200px;
height: 75px;
font-size: 20pt;
}

input, button {
  width: 150px;
  height: 50px;
  font-size: 20pt;
  background: green;
  color: white;
}

input.textInput {
  background: white;
  font-size: 20pt;
  color:black;
}
