*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-size: calc(10px + 2vmin);
}

body {
  color: #222222;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 2rem;
}

li.completed {
  color: #666666;
  text-decoration: line-through;
}

/** filter buttons **/
.filter {
  display: flex;
  justify-content: space-between;
  width: 15em;
}

.filter li {
  text-decoration: none;
  list-style: none;
}

.todos {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todos.li{
  align-items: flex-end;
}
