{% extends 'base.html' %}

{% block content %}
  <h1>A simple to-do application</h1>

  <form method=post>
    <input type="text" name="newtask" required>
    <input type="submit" value="Add Task">
  </form>

 <section>
    <ul>
      <li><a href="{{ url_for('todos.filter', show='All') }}" >All</a></li>
      <li><a href="{{ url_for('todos.filter', show='Completed') }}" >Completed</a></li>
      <li><a href="{{ url_for('todos.filter', show='Uncompleted') }}" >Uncompleted</a></li>
    </ul>
  </section>

  <article>
<!------------------------------------------------------------------->
  {% if show == "Completed" %}
    <ul>
      <h2>Completed</h2>

      {% for todo in todos %} <!-- for all posts in data base -->

        {% if todo['completed'] %}  <!-- if todo is completed -->

          <li class="{{ "completed" if todo['completed'] }}">
            {{ todo['description'] }}
          </li>

        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
<!------------------------------------------------------------------->
{% if show == "Uncompleted" %}
    <ul>
    <h2>Uncompleted</h2>

      {% for todo in todos %} <!-- for all posts in data base -->

        {% if not todo['completed'] %} <!-- if todo uncompleted -->

          <li>
            {{ todo['description'] }}
          </li>

        {% endif %}

      {% endfor %}
    </ul>
  {% endif %}
<!------------------------------------------------------------------->
{% if show == "All" %}
    <ul>
      <h2>All</h2>

      {% for todo in todos %} <!-- for all posts in data base -->

          <li class="{{ "completed" if todo['completed'] }}">
            {{ todo['description'] }}
          </li>

      {% endfor %}
    </ul>
  {% endif %}
<!------------------------------------------------------------------->
  </article>

{% endblock %}
