{% extends base.html %}


{% block content %}
<h1>Welcome back to "A Simple To-do" Application</h1>

<h2>To Log In please fill in the info below</h2>

<section class='log'>

  <form class="loginForm" action="/" method="post">
  <input type="text" name="emailInput" value="Example@email.com" required>
  <input type="text" name="passInput" value="Password Here" required>
  <button type="button" name="button">Log In</button>
  </form>

<h3>Not a user???</h3>

<a href="{{ url_for( register.html )}}">Click here to sign up</a>

</section>


{% endblock %}
